body{
    background-color: var(--background-color);
}
.category-hero{
    margin-top: 50px;
}
.category-hero .category-heading{
    color: var(--main-color);
}
.farmers-from{
    margin-top: 50px;
}
#map {
    height: 400px;
    width: 50%;
}